<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
<link type="text/css" rel="stylesheet" href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
<script type="text/javascript">
function load() {
  var config = {
        "widgetUrl": "https://www.luludragonfly.com/signin",
        "signInSuccessUrl": "https://www.luludragonfly.com/",
        "signOutUrl": "https://www.luludragonfly.com/",
        "oobActionUrl": "https://www.luludragonfly.com/",
        "apiKey": "AIzaSyA9HglM4Rsw3pKqcijwtXAJw64YvYK25f0",
        "siteName": "this site",
        "signInOptions": ["password","google","facebook"]
  };
  // The HTTP POST body should be escaped by the server to prevent XSS
  window.google.identitytoolkit.start(
      '#gitkitWidgetDiv', // accepts any CSS selector
      config);
}
</script>
<script type="text/javascript" src="//apis.google.com/js/client.js?onload=load"></script>
</head>
<body>
<!-- Placeholder for the GAT widget panels -->
<div id="gitkitWidgetDiv"></div>
</body></html>

